<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Module" />
<f:section name="Content">
    <h1>HUHU</h1>
    <f:asset.css identifier="diskusageVendorCss" href="EXT:diskusage/Resources/Public/Css/chunk-vendors.css" />
    <f:asset.css identifier="diskusageMainCss" href="EXT:diskusage/Resources/Public/Css/main.css" />
    <f:asset.script identifier="diskusageVendorJs" src="EXT:diskusage/Resources/Public/JavaScript/chunk-vendors-legacy.js" />
    <f:asset.script identifier="diskusageMainJs" src="EXT:diskusage/Resources/Public/JavaScript/main-legacy.js" />
    <f:flashMessages queueIdentifier="core.template.flashMessages" />
    <div id="diskusage-backend-module-content"></div>
</f:section>

</html>
